.wrap {
  max-width: 980px;
  margin: 0 auto;
}
.headerDivider {
  height: 44px;
  margin: 10px 0;
}
#logo {
  color: #fff;
  text-align: center;
  margin-bottom: 0
}
.pageWrap {
  min-height: 100vh;
}